</ion-header-bar>
<ion-view view-title="Family scoreboard">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="path">
            Path
        </button>
    </ion-nav-buttons>
    <ion-content class="padding, uniformBackground">

        <div ng-repeat="member in familyMembers | orderBy:'-points'" >
            <i ng-show="$index == 0" class="mdi mdi-crown" style="font-size: 40pt; color: #f3cc00; transform: rotate(-10deg);"></i>

            <div class="row scorePoints">

                <div class="col col-25 mdi" ng-class="member.avatar" style="font-size: 40pt; z-index=-1; margin: 0 auto"></div>
                <div class="col col-50">{{member.name}}</div>
                <div class="col col-20">{{member.points}}</div>
                <div class="col col-5 mdi mdi-star-circle" style="color: #af71b0"></div></div>
            </div>
        </div>

        <div class="viral-icons">
            <i ng-click="fbClick()" class="viral-icon mdi mdi-facebook"></i>
            <i ng-click="twClick()" class="viral-icon mdi mdi-twitter"></i>
        </div>
        <h3 class="center-text">Share your scoreboard!</h3>

    </ion-content>
</ion-view>
