<!--http://www.the-art-of-web.com/javascript/animate-curved-path/-->
<ion-view view-title="Path">
    <ion-content scroll="false">
        <div class="path">
            <div ng-repeat="members in familyPath track by $index" class="group-of-members-path" ng-class="getPositionClass($index)" ng-show="members.length > 0">
                <family-members-on-path members="members" user="currentUser"></family-members-on-path>
            </div>
            <div class="assign-task pathButtons" ui-sref="assign-task">
                <i class="mdi mdi-plus-circle-outline"></i>
            </div>
            <div class="scoreboard pathButtons" ui-sref="scoreboard">
                <i class="mdi mdi-account"></i>
            </div>
            <div class="scoreboard-family pathButtons" ui-sref="familyScoreboard">
                <i class="mdi mdi-account-multiple"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
