<ion-view view-title="Choose your profile">
    <ion-content class="padding">
        <div style="border: none">
                <div class="avatarPart">
                    <img src="../img/ionic.png">
                    <h2>{{currentUser.name}}</h2>
                    <p>{{familyName}}</p>
                </div>
            <div class="pointsPart">
                <img src="../img/ionic.png">
                <h2 class="pointsStyle" >{{points}}</h2>
            </div>
        </div>

    </ion-content>
</ion-view>
