<ion-view view-title="Personal scoreboard">
    <ion-content class="padding, uniformBackground">
        <div class="path" style="border: none">
                <div class="avatarPart">
                    <i class="mdi" ng-class="getAvatar(currentUser)"></i>
                    <h2>{{currentUser.name}}</h2>
                    <p ui-sref="familyScoreboardFromPersonal">{{familyName}}</p>
                </div>
            <div class="pointsPart">
                <i class="mdi mdi-star-circle"></i>
                <h2 class="pointsStyle" >{{points}}</h2>
            </div>
            <div ng-repeat="goal in goals">
                <div class="row" style="font-size: 20pt">
                    <div class="col">{{goal.name}}</div>
                    <div class="col" style="text-align: right">{{goal.points}}</div>
                </div>
                <progress-bar goal="goal" user-points="currentUser.points"></progress-bar>
            </div>

            <div class="viral-icons">
                <i ng-click="fbClick()" class="viral-icon mdi mdi-facebook"></i>
                <i ng-click="twClick()" class="viral-icon mdi mdi-twitter"></i>
            </div>
            <h3 class="center-text">Share your scoreboard!</h3>
        </div>

    </ion-content>
</ion-view>
