<ion-view view-title="SOON TO BE CRAZY GOOD GAMIFICATION FOR FAMILIES">
    <ion-content class="padding">


        <div class="circle">

        </div>
        <ion-item collection-repeat="member in teamMembers">
            <div>
                <p>{{member.name}}</p>
                <p>{{member.age}}</p>
            </div>
        </ion-item>
        <ion-item>
            <div class="list">
                <label class="item item-input">
                    <input ng-model="memberDetails.name" type="text" placeholder="First Name">
                </label>
                <label class="item item-input">
                    <input ng-model="memberDetails.age" type="text" placeholder="Age">
                </label>
            </div>
            <button class="button button-full button-balanced" ng-click="add()">
                Add team member
            </button>
        </ion-item>


    </ion-content>
</ion-view>
