/* Empty. Add your own CSS if you like */

.my-list {
    height: 200px;
}


.highlight {
    background: blue;
}

.highFamily {
    background-color: #886aea;
}

.error {
    color: #d4081a !important;
}

.path {
    background: url("../img/path.png") no-repeat;
    background-size: 100% 100%;
    background-origin: border-box;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.group-of-members-path {
    position: absolute;
}

.pos0 {
    top: 92%;
    left: 10%;
}

.pos1 {
     top: 79%;
     left: 58%;
 }

.pos2 {
    top: 68%;
    left: 90%;
}

.pos3 {
    top: 62%;
    left: 10%;
}

.pos4 {
    top: 42%;
    left: 14%;
}

.pos5 {
    top: 38%;
    left: 84%;
}

.pos6 {
    top: 25%;
    left: 13%;
}

.pos7 {
    top: 3%;
    left: 88%;
}

.members-position > div {
    float: left;
    margin-right: 10px;

}

.show-the-task {
    position: fixed;
    background: #FFFFFF;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.avatar {
    position: absolute;
    bottom: 1%;
    right: 8%;
    width: 30px;
    height: 30px;
    background-color: #11c1f3;
}
