/* Empty. Add your own CSS if you like */

.my-list {
    height: 200px;
}


.highlight {
    background: blue;
}

.highFamily {
    background-color: #886aea;
}

.error {
    color: #d4081a !important;
}